body {
    width: 100%;
    margin: 0;
}
header {
    height: 90px;
    width: 100%;
    background: rgba(20, 20, 20, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    font-family: 'Inconsolata', monospace;
}
.team_name {
    font-weight: 500;
    margin: 15px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.menu {
    font-family: 'Share Tech Mono', monospace;
}
.menu span {
    margin: 10px;
}
.menu span a {
    text-decoration: none;
    color: inherit;
}
main {
    width: 100%;
}
.banner {
    position: fixed;
    z-index: -1;
    top: 200px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    border-bottom: 2px solid #333;
    height: 200px;
}
.banner_title {
    font-family: 'Quicksand', monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.banner_text {
    margin-top: 0px;
    max-width: 500px;;
    font-family: 'Antic', sans-serif;
}
.bars {
    width: 100%;
    position: absolute;
    top: 400px; ;
    left: 0;
}
.bar {
    height: 70px;
    padding: 0 20px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s linear;
    color: #1757c2;
}
.bar:hover {
    color: white;
    background-blend-mode: hue;
}
.bar h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 10px;
    margin: 0;
}
h1 a {
    color: inherit;
    position: relative;
    text-decoration: none;
}
.bar h1 a:before, .bar h1 a:after {
    position: absolute;
    top: 0;
    height: 70px;
}
.bar h1 a:before {
    left: -20px;
    content: "[";
}
.bar h1 a:after {
    right: -20px;
    content: "]";
}